/* GENERAL */
body {
  text-align: center;
}

/* nav bar */
.ui.secondary.pointing.menu {
  background-color: white;
}

.main-container {
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 75px;
  padding-bottom: 75px;
}

.logo {
  width: 70%;
}

/* shrinks width of input fields and centers */
.ui.form {
  width: 60%;
  margin: auto;
}

/* PLANT/NOTE CARDS */
.ui.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.plant, .note {
  margin: auto;
  margin: 1%;
}

/* floats x-button div right on note cards */
.right.floated {
  margin: 1%;
}

/* x-button on note cards */
.right.floated.x.green.icon:hover, .right.floated.x.green.icon:focus {
  text-decoration: none;
  cursor: pointer;
}

/* fixed height for plant card image */
#plant-image img {
  height: 290px;
}

/* PLANT SHOW PAGE */
.plant-page {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px;
}

.ui.card.plant-info {
  width: 90%;
  margin: auto;
}