.App {
  text-align: center;
}

.logo {
  width: 70%;
}

.plant, .note {
  margin: auto;
  margin: 1%;
}

.ui.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.plant-page {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px;
}

.main-container {
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 75px;
  padding-bottom: 75px;
}

.right.floated {
  margin: 1%;
}

.right.floated.x.green.icon:hover, .right.floated.x.green.icon:focus {
  text-decoration: none;
  cursor: pointer;
}

.ui.secondary.pointing.menu {
  background-color: white;
}

.ui.form {
  width: 60%;
  margin: auto;
}

#plant-image img {
  height: 290px;
}
