.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.plant, .note {
  margin: auto;
  margin-top: 2%;
}

.plant-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.main-container {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 75px;
  margin-bottom: 75px;
}

.ui.secondary.pointing.menu {
  background-color: white;
}

.ui.form {
  width: 60%;
  margin: auto;
}

#plant-image img {
  height: 290px;
}

.test {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  text-align: center;
  margin-top: 10%;
}

.welcome {
  /* text-align: center; */
  margin: 10%;
  /* margin-top: 10%;
  margin-bottom: 10%; */
  margin-left: 29%;
  /* margin-right: 35%; */
  position: fixed;
}